html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
/* menu */
.container__menu {
    position: absolute;
    width: 100%;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.site__nav {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
}
.site__nav-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
.site__nav-logo::first-letter {
    text-transform: uppercase;
}
.site__nav-menu {
    flex-basis: 491px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: auto;
}
.site__nav-item-link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transition: linear 200ms;
}
.site__nav-item-link:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid #fce38a;
    transition: linear 200ms;
    color: #fce38a;
}
.site-nav__button {
    font-size: 0;
}
.site-nav__button-item {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.site-nav__button-item:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid #fce38a;
    transition: linear 200ms;
    fill: #fce38a;
}
.site__nav-button-svg {
    width: 18px;
    height: 14px;
    fill: #ffffff;
}
.site-nav__button-item:first-child {
    margin-right: 40px;
}
/* FON */
.fon {
    background-image: linear-gradient( rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../image/Layer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    background-position: center;
}
.fon__container {
    padding-top: 232px;
    padding-bottom: 230px;
}
.fon__text {
    font-family: "Kaushan Script", sans-serif;
    font-size: 72px;
    text-align: center;
    margin-bottom: 120px;
}
.fon__logo {
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.fon__button {
    display: block;
    margin: 0 auto;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    width: 164px;
    height: 44px;
    color: #ffffff;
}  
/* Services */

.services {
    padding-top: 46px;
    margin-bottom: 84px;
}
.text-services-team {
    display: block;
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: rgb(51, 51, 51);
    margin-bottom: 64px;
    text-align: center;
}
.logo-services-team {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgb(51, 51, 51);
    padding-top: 20px;
}
.logo-services-team::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: #f38181;
    display: block;
    margin: 0 auto;
    margin-top: 38px;
}
.services__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}
.services__list-items {
    width: 380px;
    padding-left: 82px;
    background-repeat: no-repeat;
    background-position: left 25px top 0px;
}
.services__list-items:nth-last-of-type(n +4) {
    margin-bottom: 94px;
}
.services-name {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #333333;
}
.services-name-description {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}
.photografy {
    background-image: url(../image/services/ALARM.svg);
}
.web-disign {
    background-image: url(../image/services/LINE-GRAPH.svg);
}
.creativity {
    background-image: url(../image/services/COMPUTER\ _\ OK.svg);
}
.seo {
    background-image: url(../image/services/BOOK.svg);
}
.css-html {
    background-image: url(../image/services/HOME.svg);
}
.digital {
    background-image: url(../image/services/IMAGE.svg);
}
/* TEAM */
.container-team {
    padding-bottom: 86px;
}
.text-team {
    font-size: 15px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 90px;
    max-width: 980px;
}
.team__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.team__list-link {
    width: 380px;
}
.team__list-img {
    position: relative;
    margin-bottom: 20px;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    opacity: 0;
    transition-duration: 200ms;
}
.team__list-link:hover .overlay {
    opacity: 1;
    transition-duration: 200ms;
    box-shadow: 10px 10px 0 #95e1d3;
    transform: translate(-10px, -10px);
}
.team__list-link:hover .team__img {
    transform: translate(-10px, -10px);
}
.team__img {
    transition-duration: 200ms;
}
.overlay__list {
    list-style: none;
    display: flex;
}
.overlay__list-link {
    background-color: #fce38a;
    width: 56px;
    height: 56px;
    display: flex;
    margin-right: 1px;
    transition: linear 200ms;
    align-items: center;
}  
.overlay__list-link:hover {
    background-color: #f38181;
    transition: linear 200ms;
}
.social-list__svg {
    width: 26px;
    height: 22px;
    fill: #f38181;
    margin: 0 auto;
}
.overlay__list-link:hover .social-list__svg{
    fill: #ffffff;
}
.team__name-profession {
    text-align: center;
}
.team__name {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 16px;
    margin-bottom: 10px;
}
.team__profession {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 24px;
}
.team__list-link:hover .overlay {
    opacity: 1;
}
/* footer */
.footer {
    display: flex;
    min-height: 62px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
}
.footer-text {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 16px;
}
.clic-laaqiq {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #f38181;
    transition: linear 200ms;
}
.form-footer {
    display: flex;
    height: 40px;
}
.button-fuuter {
    width: 150px;
    text-decoration: none;
    border: none;
    background-color: #95e1d3;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.input {
    width: 230px;
    padding-left: 6px;
    border-right: 0;
}
.input::placeholder {
    width: 230px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 14px;
}
